[submodule "home-manager"]
	path = home-manager
	url = https://github.com/andreivolt/home-manager
[submodule "packages/nix-beautify"]
	path = packages/nix-beautify
	url = https://github.com/nixcloud/nix-beautify
[submodule "gui/xmonad-config"]
	path = gui/xmonad-config
	url = git@github.com:andreivolt/xmonad-config
[submodule "scripts"]
	path = scripts
	url = git@github.com:andreivolt/scripts
